<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detailUser.css">
    <title>Detail User</title>
</head>

<body>
    <h1>CHAO MUNG DEN VOI NODEJS</h1>
    <h4>Detail User</h4>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Chi Nhanh</th>
        </tr>
        <tr>
            <td>
                <%=data.id %>
            </td>
            <td>
                <%=data.name %>
            </td>
            <td>
                <%=data.email %>
            </td>
            <td>
                <%=data.tel %>
            </td>
            <td>
                <%=data.machinhanh %>
            </td>
        </tr>
    </table>
    <h1>Danh Sach</h1>
</body>

</html>